html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(239, 246, 240, 0.774);
    font-family: 'Varela Round', sans-serif;
    background-color: #bfa5831e;
    overflow-y: scroll;
    overflow-x: hidden;
   

}

.nav-bar {
    background-color: #bfa583; /* #8b916d */
    height: 100px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    z-index: 10;
   
}

.title-nav-bar {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 40px;
    margin-left: -1000px;
    text-shadow: #563b3051 2px 2px 2px;
    letter-spacing: 2px;
  
}
 
.input{
    border-radius: 26px;
    border: none;
    height: 46px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -1200px;
    color: #563b30;
    font-family: 'Hammersmith One', sans-serif;
letter-spacing: 2px;
position: fixed;

}
 
.search {
    background-color: transparent;
    border: none;
    width: 36px;
  }

  .search:active {
    cursor: pointer;
  }

.hamburger-menu{
    display: block;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(270deg);


  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    margin-top: 25px;
    margin-left: 10px;
  
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    border-radius: 16px;
    background-color: #fff;
    transition-duration: .25s;
  
  }
  .menu__btn > span::before {
    content: '';
    top: -10px;

  }
  .menu__btn > span::after {
    content: '';
    top: 10px;
    
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin-top: 100px;
    padding: 25px 0px;
    list-style: none;
    background-color: #bfa583ed;
    box-shadow: 4px 10px 12px #563b309c;
    transition-duration: .40s;
    background-image: url('./assets/pattern1.jpeg');
    background-size: contain;

  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #8b916dbf;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .35s;
    letter-spacing: 3px;
  }
  .menu__item:hover {
    background-color:#fff;
    color: #563b30;
    text-shadow: none;
    text-decoration: none;
  }

  .menu__item:active {
    background-color: #563b30;
    color: #fff;
    text-decoration: none;
  }

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./assets/pattern1.jpeg');
    background-size:inherit;
    position:static;
}

  .intro{
    font-family: 'Varela Round', sans-serif;
       color: #563b30; /* #8b916d */
   margin-top: 150px;
      margin-bottom: 10px;
      font-size: 30px;
      line-height: 50px;
      align-self: center;
      text-align: center;

  }

  .container{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: 'Varela Round', sans-serif;
  border-radius: 26px;
  width: 200px;
 
  }

  .carousel-control {
    border-radius: 26px;
  }


  .carousel {
    background-color: #8b916d;
    color: #fff;
    border-radius: 26px;
    text-align: center;
  }


  .item-img {
    border-radius: 26px 26px 0px 0px;
    width: 100%;
  }

.item-title{
  text-shadow: #563b30 2px 2px 2px;
}

  .item-txt{
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .item-ul{
    margin-top: -20px;
    margin-bottom: 20px;
  }

.footer {
    width: 100%;
    padding-bottom: 20px;
    height: 30px;
 margin-top: 15px;
    margin-bottom: 15px;
  
}

.contatti {
    color: #563b30;
    text-align: right;
    margin-right: 20px;
    display: flex;
    justify-content:flex-end;
    align-items: baseline;
}

.icon {
    width: 40px;
    padding: 5px;
}

.icon:hover {
   background-color: #bfa58330;
   border-radius: 16px;
}



.why{
  color: #8b916d;
  font-family: 'Varela Round', sans-serif;
  margin-left: 50px;
  font-size: xx-large;
  margin-top: 140px;
  color: #563b30;

}

.why1{
  color: #563b30;
  margin-left: 30px;
  font-size: x-large;
  text-transform: uppercase;
  margin-left: 50px;
}

.why-txt{
  color: #8b916d;
  background-color: #fff;
  padding: 10px;
  border-radius: 16px;
 font-size: large;
 margin-left: 50px;
 line-height: 30px;
 width: 1310px;
}

.body-why{
  background-image: url('./assets/pattern1.jpeg');
  background-size:inherit;
  position:static;
}


.btn {
  -webkit-tap-highlight-color: var(--color-transparent);
  position: fixed;
  background: #8b916d;
  color: #fff;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  padding: 1.5rem 1rem 1rem 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 150px 0px 0px 0px;
  cursor: pointer;
}

.btn:hover {
  -webkit-tap-highlight-color: var(--color-transparent);
  position: fixed;
  background: #bfa583;
  color: #fff;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  padding: 1.5rem 1rem 1rem 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 150px 0px 0px 0px;
  cursor: pointer;
}

.card {
  border: 2px blue solid;
  margin-bottom: 20px;
}

.bottom-card {
  border: 2px red solid;
}



    



